html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
  height: 100%;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

* {
	list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
	height: 10vh;
	text-align: start;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding-left: 3vh;
	font-size: 5vh;
	background-color: aquamarine;
}

.general-content {
	background-color: aliceblue;
	height: 85vh;
	width: 100%;
	display: flex;
}

.general-content .sidebar{
	background: rgb(129, 209, 255);
	width: 15vw;
	height: 100%;
	padding: 3vh 0 0 4vh;
	transition: all 0.5s ease;
	position: relative;
}

.sidebar h2 {
	font-size: 3vh;
}

.sidebar hr {
	margin: 1vh 0 2vh;
	color: black;
	width: 80%;
}

.sidebar ul {
	overflow: auto;
	max-height: 65vh;
}

ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul li:nth-child(n+2) {
	margin-top: 1vh;
}

ul li .sdbar-icon,
ul li .options-icon {
	height: 3vh;
	width: 3vh;
	object-fit: cover;
}

ul li .project-name,
.add-button-container,
.del-button-container {
	cursor: grab;
}

.general-content .sidebar .add-button-container, 
.general-content .project-container .add-button-container {
	position: absolute;
	bottom: 2vh;
	right: 2vh;
}

.project-container .del-button-container {
	position: absolute;
	bottom: 2vh;
	left: 2vh;
}

.general-content .sidebar .add-button-container .add-img,
.general-content .project-container .add-button-container .add-img,
.project-container .del-button-container .del-img {
 object-fit: contain;
 width: 4vh;
}

.general-content .project-container {
	height: 100%;
	width: 100%;
	background-color: rgb(191, 199, 120);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 4vh;
	position: relative;
}


.project-container .project-information {
	box-sizing: border-box;
	border: 1px black solid;
	padding: 5px 2vh 8px;
	width: 92%;
	margin-bottom: 3vw;
}

.project-container  h2 {
	text-align: center;
  font-size: 4vh;
}

.project-container .list-display {
	border: 1px solid black;
	width: 90%;
	padding: 1vh 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 53vh;
	overflow: auto;
}

.project-container .list-display .todo-container:nth-child(n + 2) {
	margin-top: 1vh;
}	

.project-container .list-display .todo-container {
	border: 1px solid black;
	padding: 5px 2vh 8px;
	width: 80%;
	display: flex;
	justify-content: space-evenly;
}

.project-container .list-display .todo-container div {
	width: 85%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-container .list-display .todo-container button {
	padding: 1vh;
}

footer {
	height: 5vh;
	background-color: blanchedalmond;
	display: flex;
	justify-content: center;
	align-items: center;
}


.collecter-container,
.delete-card-container,
.details-container {
	border: 1px black solid;
	padding: 1vh 5vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	background-color: aliceblue;
	width: 20vw;
}

.delete-card-container {
	width: 30vw;
}


.collecter-container div:first-child,
.delete-card-container p:first-child,
.details-container div:first-child */{
	margin-top: 3vh;
}

.details-container div:nth-child(n + 3) {
	margin-top: 2vh;
}

/*.details-container div:nth-child(2){
	justify-content: center;
	font-size: 3vh;
	border-bottom: solid black 1px;
}*/

.delete-card-container p:first-child {
	font-weight: 600;
	font-size: 3vh;
}

.collecter-container div,
.delete-card-container .cancel-continue-container,
.details-container > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2vh;
}

.delete-card-container p:nth-child(2){
	margin-top: 2vh;
}

.delete-card-container .cancel-continue-container{
	justify-content: space-around;
	margin-top: 3vh;
}

.collecter-container div #exit-button,
.details-container #exit-details{
	border: 1px solid black;
	border-radius: 50%; 
	padding: 2px 7px; 
	font-size: 14px;  
	position: absolute; 
	top: 5px; 
	right: 5px;
}

.collecter-container div:last-child {
	justify-content: center;
	margin-top: 1vh;
}

.collecter-container div button,
.delete-card-container div button {
	padding: 1vh 1vh;
	border-radius: 7px;
	border: 1px black solid;
}